#hidden{max-height: 200px;overflow: auto;}
  	.tr{max-width: 80px;max-height: 40px;}
  	#foot{background-color: #333;}
  	.wh{color: white;}
  	.container{margin-top: 40px;}
  	h1,h2,h3,h4,h5{font-family: comic sans MS;}
  	body{background-color: lightgray;}
  	.sb{border-radius: 40px; padding: 0px 15px;}
    .reg{background-color: yellow;}


  	